<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$org</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#9400FF" style="padding: 40px 0 30px 0;">
            <h1>$org</h1>
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
            <p>Dear $name</p>
            <p>
                This is a friendly reminder that the claim $claim activity $activity $tense due on $date.
                <br>
                We understand that oversights happen but would appreciate prompt followup on this. If follow up has already been done, please ignore this email.
                <br>
                Thanks in advance for your cooperation.
                <br> <br>

            </p>

            <p>Kind Regards</p>
            <br> <br>
            <p>Bancassurance Admin</p>
        </td>
    </tr>

</table>

</body>
</html>