<html lang="en">
<body>
<p>Dear Team,</p>

<p>Kindly find attached cover request for customer as per subject.</p>

<p>Note policy number $polNo and Risk Note $refNo: which you should quote in your cover notes / production reports.</p>

<p>We shall forward hard copy once received.</p>
</body>
</html>