<html lang="en">
<body>
<h3> Dear Team,</h3>
<p>
    Please place cover as attached and share cover notes. Issue One Month Motor certificate.

    Payment is as attached.

    Kindly note the attached Risk Note Number $refNo: which you should quote in your cover notes / production report.

</p>
</body>
</html>