<html lang="en">
<body>
<p>
    Dear Team,
</p>
<p>
    Please receipt and allocate the attached additional premium payment.

    Kindly note the attached Risk Note Number $refNo: which you should quote in your cover notes / production reports

</p>
</body>
</html>