<html lang="EN">
<body>
<p>
    Dear Team,
</p>
<p>
    Please place cover as attached and share cover notes.

    Payment is as attached.

    Kindly note the attached Risk Note Number $refNo: which you should quote in your cover notes / production reports

</p>
</body>
</html>