<html lang="en">
<body>
<p>
    Dear Team,
</p> 
<p>
    Please place cover as attached and share cover notes. Note an overpayment has been done on this Policy Number $polNo

    Kindly note the attached Risk Note Number $refNo: which you should quote in your cover notes / production reports

</p>
</body>
</html>